{{ traceChangeDetection() }}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Board
            </a>
            <div class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="start( )">Run</a>
              <a class="dropdown-item" (click)="stop( )">Stop</a>
              <!--<div class="dropdown-divider"></div> -->
              <a class="dropdown-item" (click)="step( )">Step</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#restartDialog">Restart ...</a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
   
  <div class="container-fluid">
      <div class="row">
          <div class="col bg-dark text-white">
              <h1>Plain of Life V0.0.1</h1>
          </div>
      </div>
  </div>
  <canvas #plainCanvas width={{this.canvasWidth}} height={{this.canvasHeight}} ></canvas>
  <canvas #familyTreeCanvas width={{this.familyTreeWidth}} height={{this.familyTreeHeight}} ></canvas>

<!-- Restart Dialog -->
<div class="modal fade" id="restartDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Restart Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Select cell type:
          <div class="form-group">
            <select class="form-control"
                    (change)="setRestartCellType($event.target.value)">
                    <option *ngFor="let cell of getCellTypes()">{{cell.name}}</option>
            </select>
      </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="restart( )">Restart</button>
      </div>
    </div>
  </div>
</div>
  